@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
a,p,h1,h2{
  font-family: 'Poppins', sans-serif;
}
a{
    transition: all 200ms ease;
}
a:hover{
    letter-spacing: 3px;
}
.container{
  @apply pt-20 max-w-[1224px] mx-auto min-h-[95vh]
}