@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

a,p,h1,h2{
  font-family: 'Poppins', sans-serif;
  color: white;
}
a{
  transition: all 200ms;
}
a:hover{
    letter-spacing: 3px;
}
.container{
  @apply pt-20 px-2 max-w-[1224px] mx-auto min-h-[100vh]
}
.link{
  text-decoration: underline;
}
.btn{
  @apply rounded-full cursor-pointer p-2 font-bold
}
#root{
  background: #0f1015;
}

